{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" media="screen" href="{{url_for('static',filename='css/dashboard.css')}}">
<link rel="stylesheet" media="screen" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
<script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>


  <div class="container2">
    <div class="header"><a href="javascript:void()" onclick="window.location.href='/logout'"><i class='bx bxs-door-open'></i></a></div>
  <div class="panel">
  <nav>
    <br>
    <ul class="list-unstyled">
      <li class="dashboard panelclicked" onclick="carregarPagina('/dash')"><i class='bx bxs-dashboard'></i>Dashboard</li>
       <li class="entradas" id="entradas"  onclick="carregarPagina('/entradas')"><i class='bx bx-line-chart'></i>Entradas</li>
      <li class="saidas" id="saidas" onclick="carregarPagina('/saidas')"><i class='bx bx-line-chart-down' ></i>Saidas</li>
      <li class="configs" id="configs"onclick="carregarPagina('/config')"><i class='bx bx-cog'></i>Configs</li>
    </ul>
  </nav>
  </div>
  <iframe class="main" id="main"></iframe>
  <script>
    carregarPagina('/dash')
  </script>
</div>



{% endblock %}
